/* fonts */
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@castrol: 'CastrolSansCon-Regular';

/* colors */
// @black      : #000;
@black: #020305;
@black-light: #131313;
@white : #fff;
@green : #01984e;
@green-light: #00b45c;

.green {
  color: @green;
}

.green-bg {
  background: @green;
}

body {
  font-family: @castrol;
  font-size: 16px;
  color: @white;
  background-color: @black;
}

.main-btn {
  height: 40px;
  min-width: 88px;
  padding-bottom: 4px;
  font-size: 16px;
  background: @white;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
}

.main-btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.main-btn:visited {
  color: @green;
  background-color: @white;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evently {
  justify-content: space-evenly;
}

.align-content-between {
  align-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.position-relative {
  position: relative;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

button:focus {
  outline: none !important;
}

.list-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}

.menu {

  .row {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
  }

  &-popup__list {
    text-align: center;
  }

  .list__item {
    display: flex;
    flex-direction: row;
  }

  &-popup .list__item {
    padding-bottom: 20px;
  }

  .link,
  &-popup .link {
    padding-left: 10px;
    padding-right: 10px;
    color: @white;
    text-transform: uppercase;
  }

  .link {
    font-size: 14px;
  }

  &-popup .link {
    font-size: 24px;
  }

  .link:hover,
  &-popup .link:hover {
    color: @green;
    text-decoration: none;
  }

  &__burger {
    position: relative;
    display: block;
    float: right;
    width: 34px;
    height: 25px;
    background-color: inherit;
    z-index: 11;
  }

  &__burger span::before,
  &__burger span::after,
  &__burger span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 34px;
    margin-left: -17px;
    background: #fff;
  }

  &__burger span::before {
    margin-top: -7px;
  }

  &__burger span::after {
    margin-top: 3px;
  }

  &__burger span {
    margin-top: -2px;
  }

  .menu__burger span::before,
  .menu__burger span::after {
    content: '';
    display: block;
    transition: 0.4s;
  }

  .menu__burger span::before {
    transform: translateY(-5px);
  }

  .menu__burger span::after {
    transform: translateY(5px);
  }

  .menu__burger--active span {
    height: 0;
  }

  .menu__burger--active span:before {
    transform: rotate(45deg) translate(2px, 7px);
  }

  .menu__burger--active span:after {
    transform: rotate(135deg) translateY(5px);
  }

  /* popup menu for burger */

  &-popup {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    transition: 0.5s;
    transform: translateX(100%);
  }

  &-popup.active {
    transform: translateX(0%);
  }

  &-popup .link {
    color: @white;
    opacity: 1;
  }

  &-popup .link:hover {
    color: @green;
    opacity: 1;
  }

  &-popup__list {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate(-50%, -50%);
  }

  .menu--no-active {
    display: none;
  }

  @media (max-width: 991px) {
    .row [class*='col-']:nth-child(1) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 767px) {

    display: flex;
    justify-content: flex-end;

    &-popup .menu-popup__list {
      width: 100%;
    }

    &>.main-btn {
      margin-right: auto;
      height: 30px;
      font-size: 14px;
    }

    .menu--no-active {
      display: flex;
    }

    .menu--active {
      display: none;
    }
  }

  @media (max-width: 425px) {
    &>.main-btn {
      font-size: 12px;
    }
  }
}

.main-content {

  .container {
    padding-top: 110px;
    padding-bottom: 170px;
    background-image: url('../img/burger@2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }

  h1 {
    font-size: 58px;
    line-height: 70px;
    text-transform: uppercase;

    small {
      font-size: 30px;
      color: @white;

    }
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.4;
    text-transform: uppercase;
  }

  @media (max-width: 991px) {

    .container {
      background-position: center center;

    }

    h1,
    p {
      text-shadow: 0px 4px 5px black;
    }

    p {
      opacity: 0.9;
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 48px;
      line-height: 56px;

      small {
        font-size: 26px;
      }
    }
  }

  @media (max-width: 550px) {

    .container {
      padding-top: 0;
      padding-bottom: 0;
      background-image: none;
    }

    .main-bg {
      width: auto;
      height: 550px;
      background-image: url('../img/burger@2x.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }

    h1 {
      margin-top: -59px;
    }

    p {
      opacity: 0.3;
    }
  }

  @media (max-width: 425px) {

    margin-top: -25px;

    .main-bg {
      height: 425px;
    }

    h1 {
      font-size: 30px;
      line-height: 36px;

      small {
        font-size: 22px;
      }
    }
  }

  @media (max-width: 320px) {
    .main-bg {
      height: 320px;
    }
  }
}

.actions {
  display: flex;
  height: 165px;
  width: 100%;
  background: @green;
  box-shadow: 1px -19px 32px 5px rgba(56, 56, 56, 0.42)inset, 0px 71px 32px -47px rgba(255, 255, 255, 0.42) inset;
  -webkit-box-shadow: -3px -27px 32px 7px rgba(42, 56, 56, 0.42) inset, 0px 71px 32px -47px rgba(255, 255, 255, 0.42) inset;
  -moz-box-shadow: 1px -19px 32px 5px rgba(56, 56, 56, 0.42)inset, 0px 71px 32px -47px rgba(255, 255, 255, 0.42) inset;

  .container {
    margin: auto;
  }

  img {
    margin-right: 20px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: -5px;
    color: @white;
    font-size: 18px;
    text-transform: initial;
  }

  .container>.row [class^="col-"]:not(:last-child) .item-wrapper::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    width: 30px;
    height: 89px;
    margin-top: -2.625em;
    background-image: url('../img/Triangle.svg');
  }


  @media (max-width: 991px) {

    .container {
      width: 850px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (max-width: 767px) {

    height: 459px;

    .container {
      height: 100%;
    }

    .row {
      flex-wrap: wrap;
      height: 100%;
    }

    [class^="col-"] {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .item-wrapper {
      position: relative;
    }

    .container>.row [class^="col-"]:not(:last-child) .item-wrapper::after {
      top: 184%;
      left: 20%;
      transform: rotate(90deg);
    }
  }

  @media (max-width: 550px) {
    margin-top: 40px;
  }
}

.download {
  margin-top: 80px;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  img,
  #qr-code {
    padding-left: 20px;
    padding-right: 20px;
  }

  #qr-code canvas {
    border: 4px solid @white;
  }

  @media (max-width: 767px) {
    h2 {
      font-size: 26px;
    }
  }

  @media (max-width: 550px) {

    #qr-code {
      display: none;
    }

    img {
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  @media (max-width: 425px) {

    h2 {
      font-size: 24px;
    }

  }
}

.products {
  margin-top: 80px;

  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
  }

  p {
    max-width: 1240px;
    width: 100%;
    margin: 15px auto;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
  }

  .elem {
    width: 232px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .elem img {
    background: @black-light;
    border-radius: 12px;
  }

  .slider {
    margin-bottom: 50px;
  }

  @media (max-width: 767px) {

    h2 {
      font-size: 26px;
    }
  }

  @media (max-width: 550px) {
    margin-top: 40px;

    h2 {
      text-align: center;
    }
  }

  @media (max-width: 425px) {

    .slider {
      margin-bottom: 0;
    }

    h2 {
      font-size: 24px;
    }

    .elem,
    .elem img {
      max-width: 160px;
      width: 100%;
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 60px;
  height: 60px;
  border: none;
  background-size: 150%;

  &--prev {
    left: 0;
    background: url("../img/arrow-green.svg") center no-repeat /cover;
  }

  &--next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    background: url("../img/arrow-green.svg") center no-repeat /cover;
  }

  @media (max-width: 480px) {

    &.arrow--next.slick-arrow,
    &.arrow--prev.slick-arrow {
      display: none !important;
    }
  }
}

.slick-disabled {
  display: none;
  pointer-events: none;
}


.slick-arrow[aria-disabled="true"] {
  opacity: 0;
}

.conditions {
  margin-top: 80px;

  h2 {
    margin-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 50px;
  }

  button:hover {
    color: #00B45C;
    background: @white;
  }

  button ion-icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

  button span {
    height: 26px;
    line-height: 30px;
  }

  @media (max-width: 991px) {
    .container>.row [class^="col-"] {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 767px) {

    h2 {
      font-size: 26px;
    }

    button ion-icon {
      width: 26px;
      height: 26px;
      margin-right: 20px;
    }  

    button span {
      height: 20px;
      line-height: 24px;
    }

    button {
      font-size: 20px;
    }
  }

  @media (max-width: 550px) {
    margin-top: 40px;
  }

  @media (max-width: 425px) {
    h2 {
      font-size: 24px;
    }

    button {
      padding-top: 17.5px;
      padding-bottom: 17.5px;
      font-size: 16px;
    }

    button span {
      height: 16px;
      line-height: 19px;
    }

    button ion-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }
}

.partnership {
  margin-top: 95px;

  h2 {
    margin-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (max-width: 767px) {

    margin-top: 45px;

    h2 {
      font-size: 26px;
    }

    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.ymaps-2-1-74-islets_map-lang-ru {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.map-wrapper {
  display: flex;
  width: 100%;
  height: 640px;

  .control-panel {
    position: relative;
    width: 276px;
    height: 100%;
    background: @black-light;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
  }

  .list-of-cities {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    display: flex;
    padding-top: 20px;
    padding-left: 0;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
  }

  .list-of-cities li {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    line-height: 60px;
    cursor: pointer;
  }

  .list-of-cities li a {
    color: @white;
    font-size: 24px;
    text-transform: uppercase;
  }

  .list-of-cities li a:hover,
  .list-of-cities li a:active,
  .list-of-cities li a:focus {
    text-decoration: none;
  }

  .list-of-cities li:hover:not(.city-active) a {
    color: #00B45C;
  }

  .city-active {
    position: relative;
    background: @green;
  }

  .ymaps-2-1-74-controls__toolbar {
    display: none;
  }

  #map {
    width: 75%;
    height: 100%;
  }

  @media (max-width: 991px) {
    .control-panel {
      width: 300px;
    }
  }

  @media (max-width: 767px) {

    height: 425px;

    .control-panel {
      display: none;
    }

    #map {
      width: 90%;
      height: 425px;
      margin: 0 auto;
    }

    .ymaps-2-1-74-map {
      width: 90%;
      height: 425px !important;
    }

    .ymaps-2-1-74-islets_map-lang-ru {
      width: 90%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media (max-width: 425px) {
    height: 300px;

    #map {
      width: 100%;
      height: 300px;
    }

    .ymaps-2-1-74-map {
      width: 100%;
    }

    .ymaps-2-1-74-map {
      width: 100%;
      height: 300px !important;
    }
  }
}

.panel {
  border: 0;
}

.faq {

  margin-top: 80px;

  h2 {
    margin-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  #accordion .panel:nth-child(1) {
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  .panel {
    padding-top: 25px;
    padding-bottom: 25px;
    background: @black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .panel-group .panel {
    border-radius: 0;
  }

  .panel[aria-expanded="true"] h3 {
    color: @green;
  }

  .panel[aria-expanded="true"] ion-icon {
    color: @green;
    transform: rotate(180deg);
  }

  .panel-heading {
    display: flex;
    justify-content: space-between;
  }

  .panel-heading:hover {
    color: @green;
  }

  .panel-heading ion-icon {
    width: 30px;
    height: 30px;
  }

  h3 a {
    font-size: 24px;
    text-decoration: none;
  }

  h3 a:hover,
  h3 a:focus {
    text-decoration: none;
  }

  .panel-body {
    width: 94%;
    border-top: none !important;
    opacity: 0.7;
  }

  @media (max-width: 767px) {

    margin-top: 40px;

    h2 {
      font-size: 26px;
    }


    h3 a {
      font-size: 20px;
    }
  }

  @media (max-width: 550px) {
    margin-top: 40px;
  }

  @media (max-width: 425px) {
    h2 {
      font-size: 24px;
    }

    h3 a {
      font-size: 18px;
    }

    #accordion .panel:nth-child(1) {
      padding-top: 15px;
    }

    .panel {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .panel-group .panel+.panel {
      margin-top: 0;
    }

    .panel-heading ion-icon {
      margin-top: -7px;
    }
  }
}

.feedback {
  margin-top: 80px;

  form,
  .success {
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    background: @black-light;
    border-radius: 12px;
  }

  .success {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h2 {
    padding-bottom: 19px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  form > .row [class^="col-"]:first-child {
    padding-right: 10px;
  }

  form > .row [class^="col-"]:last-child {
    padding-left: 10px;
  }

  .form-group * {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control:hover {
    border-color: #4b4b4b;
  }

  .form-control+label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 20px;
    transition: 0.2s ease all;
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:hover+label,
  .form-control:focus+label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form-control:focus+label,
  .form-control:not(:focus):valid~.floating-label {
    left: 15px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    transition: 0.2s ease all;
  }

  .form-control:not(:focus):valid~.floating-label {
    color: rgba(255, 255, 255, 0.3);
  }


  .form-control:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
    border-color: #4b4b4b;
  }

  form input {
    height: 57px;
    padding: 32px 15px 8px;
    color: rgba(255, 255, 255, 0.8);
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
  }

  .error {
    border-color: #a20000;
  }

  .error+label {
    color: #a20000;
    opacity: 0.5;
  }

  form textarea {
    height: 121px;
    padding: 32px 15px 8px;
    color: rgba(255, 255, 255, 0.8);
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
    resize: none;
  }

  .form-group .btn-primary {
    width: 100%;
    height: 57px;
    background: @green;
    border-color: @green;
  }

  .form-group .btn-primary:disabled {
    opacity: 0.5;
  }

  .form-group .btn-primary:hover:disabled {
    background: @green;
  }

  .form-group .btn-primary:hover {
    background: @green-light;
  }


  .form-group .btn-primary:active {
    background: darken(@green, 7%);
    border-color: darken(@green, 10%);
  }

  .form-group .checkbox label {
    display: flex;
    align-items: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    text-transform: none;
  }

  .form-group:last-child .row {
    display: flex;
    align-items: center;
  }

  .form-group .checkbox input[type="checkbox"] {
    display: none;
  }

  .form-group .checkbox label:before {
    content: " ";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -3px;
    color: @white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .form-group .checkbox input:hover+label:before {
    background-image: linear-gradient(rgba(29, 29, 29, .6), rgba(29, 29, 29, .6)), url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-group .checkbox input:checked+label:before {
    background-image: url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: @green;
    border-color: #01984e;
  }

  .form-group .checkbox input:disabled+label:before {
    background: @green;
    color: @white;
  }

  button:hover {
    background: #00B45C;
  }

  @media (max-width: 767px) {

    margin-top: 40px;

    h2 {
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 26px;
    }

    form>.form-group:nth-of-type(1) .row [class^="col-"]:nth-child(1) {
      margin-bottom: 20px;
    }

    form>.form-group:last-of-type .row {
      display: flex;
      flex-direction: column;
    }

    form>.form-group:last-of-type .row [class^="col-"]:nth-child(1) {
      margin-bottom: 20px;
    }

    form > .row [class^="col-"]:first-child {
      padding-right: 15px;
    }
  
    form > .row [class^="col-"]:last-child {
      padding-left: 15px;
    }

    .form-group .checkbox input:hover+label:before {
      background-image: none;
    }

    .form-group .checkbox input:checked+label:before {
      background-image: url('../img/checkmark.svg');
    }
  }

  @media (max-width: 425px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    form {
      padding: 26px 15px 15px;
      border-radius: 0;
    }

    .success h2 {
      padding-top: 20px;
    }
  }
}

.footer {
  margin-top: 100px;

  .row {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  .row .col-lg-6 {
    padding: 0;
  }

  .navbar-nav li a {
    padding: 10px 20px 10px 0;
  }

  .navbar-nav li a {
    color: @white;
    background: inherit;
    font-size: 14px;
    text-transform: uppercase;
  }

  .navbar-nav li a:hover {
    color: @green;
    background: @black;
  }

  .copyright {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    text-transform: uppercase;
  }

  @media (max-width: 767px) {

    margin-top: 50px;

    .container .row {
      display: flex;
      flex-direction: column;
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .container .row [class^="col-"]:nth-last-child(1) {
      justify-content: center;
    }

    .container .row [class^="col-"]:nth-last-child(1) button,
    .container .row [class^="col-"]:nth-last-child(1) a {
      margin-bottom: 10px;
    }

    .container .row [class^="col-"]:nth-last-child(1) {
      flex-wrap: wrap;
    }

    .navbar-nav li a {
      padding: 10px;
    }
  }

  @media (max-width: 550px) {
    .nav {
      justify-content: flex-start;
    }

    .nav a {
      margin-left: 7px;
    }

    .container .row [class^="col-"]:last-child {
      justify-content: flex-start;
      // margin-left: 0;
    }
  }
}

.text-transform-initial {
  text-transform: initial !important;
}

.no-active {
  display: none;
}

.cluster-icon {
  display: block;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
}

.map-marker {
  height: 35px;
  width: 35px;
  margin-left: -17px;
  margin-top: -17px;
  border-radius: 50%;
  background-color: #000;
  // background-image: url('/img/placemarker.svg');
  background-image: url('/img/burger@2x.png');
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popover {
  display: block;
  padding: 15px;
  font-family: @castrol;
  border: none;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75) !important;
  border-radius: 11px;
}

.popover-contentz {
  color: #888;
  text-transform: uppercase;

}

body [class*="ymaps-2"][class*="-map"] .popover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05) !important;
}

.popover.top>.arrow {
  border-top-color: #fff;
}

.popover .close {
  position: absolute;
  right: 5px;
  top: 1px;
}

#dropdown {
  display: none;
  width: 90%;
  height: 60px;
  padding-left: 30px;
  padding-right: 15px;
  margin: 0 auto 30px;
  color: @white;
  font-size: 16px;
  background: #202020;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: 97% center;

  @media (max-width: 767px) {
    display: flex;
  }
}