.maps {
    margin-top: 120px;
    margin-bottom: 100px;
    overflow: hidden;
    border-top-left-radius: 402px;
    border-bottom-left-radius: 405px;
    position: relative;
}

button.bt-map {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 2;
    display: block;
    padding: 3px 27px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: none;
    border: 3px solid #fff;
    border-radius: 30px;
}

.bt-map:hover {
    background: #fff;
    color: #64B9E7;
    border-color: #fff;
}

@media (max-width: 1080px) {}

#map * {
    transition: none;
}

#map {
    touch-action: auto !important;
}

@media (max-width: 1280px) {
    #map {
        height: 600px;
    }
}

body .maps [class*="ymaps-2"][class*="-placemark-overlay"]:last-child {
    display: none !important;
}

body #map [class*="ymaps-2"][class*="-searchbox-button"] {
    transition: all 0.3s ease;
}

.ymaps-2-1-74-map.ymaps-2-1-74-i-ua_js_yes.ymaps-2-1-74-map-bg.ymaps-2-1-74-islets_map-lang-en,
.ymaps-2-1-74-inner-panes {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

[class*="ymaps-2"][class*="-copyright"] {
    display: none !important;
}

body [class*="ymaps-2"][class*="-_pin_right"] {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 0.23vw -3px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    background-color: #fff;
    box-sizing: border-box !important;
    border-width: 0 !important;
    border-style: solid;
    background-clip: border-box;
    width: 100px;
    cursor: pointer;
    -webkit-transition: background-color .15s ease-out, border-color .15s ease-out, opacity .15s ease-out;
    transition: background-color .15s ease-out, border-color .15s ease-out, opacity .15s ease-out;
    display: inline-block;
    text-align: center;
    height: 39px;
    margin-left: 45px;
    border-radius: 30px !important;
}

body [class*="ymaps-2"][class*="-searchbox-button-text"] {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 39px;
    color: #64B9E7;
    font-weight: 700;
}

body [class*="ymaps-2"][class*="-_pin_right"]:hover {
    background: #3E4D5D !important;
}

body [class*="ymaps-2"][class*="-searchbox__normal-layout"] {
    width: 98% !important;
}

body [class*="ymaps-2"][class*="-controls__toolbar"] {
    margin-top: 30px;
    margin-left: -270px !important;
}

body [class*="ymaps-2"][class*="-searchbox-input__input"] {
    display: block;
    width: 100%;
    height: 39px;
    padding: 0 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: transparent;
    background-clip: padding-box;
    box-sizing: border-box !important;
    font-weight: 600;
}

body [class*="ymaps-2"][class*="-controls__control"] {
    top: 280px !important;
}

@media (max-width: 1280px) {
    body [class*="ymaps-2"][class*="-controls__control"] {
        top: 200px !important;
    }
}

body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
    margin-right: -80px !important;
    display: none;
}

[class*="ymaps-2"][class*="-float-button"] {
    border-radius: 0 !important;
}

[class*="ymaps-2"][class*="-controls__control"] {
    right: 0px !important;
    left: auto !important;
}

[class*="ymaps-2"][class*="-map"] * {
    box-shadow: none !important;
}

[class*="ymaps-2"][class*="-searchbox__normal-layout"]:after {
    box-shadow: none !important;
}

[class*="ymaps-2"][class*="-searchbox-input"] {
    border-radius: 500px !important;
}

body [class*="ymaps-2"][class*="-search__suggest"] {
    margin-top: 3px !important;
    border: 0 !important;
}

[class*="ymaps-2"][class*="-zoom"] {
    margin-right: 20px;
    display: none;
}

body [class*="ymaps-2"][class*="-_pin_right"]:hover [class*="-searchbox-button-text"] {
    color: #fff !important;
}

html body [class*="ymaps-2"][class*="-popup"] {
    display: none !important;
}

@media (min-width: 1081px) {
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 47vw;
    }
    body [class*="ymaps-2"][class*="-controls__toolbar"] {
float: right !important;
    }
}

@media (max-width: 1080px) {
    .map-container {
        border-radius: 0 !important;
    }
    body .maps {
        margin-bottom: 60px;
    }
    body [class*="ymaps-2"][class*="-controls__toolbar"] {
        width: 87vw !important;
        margin-left: 10px !important;
    }
    button.bt-map {
        background: none;
        position: absolute;
        top: 100px;
        z-index: 2;
        right: auto;
        left: 30px;
    }
}

@media (max-width: 768px) {
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        margin-right: 0 !important;
        margin-left: -10px !important;
        width: 97vw;
    }
    body [class*="ymaps-2"][class*="-searchbox__input-cell"] {
        width: 95vw;
    }
    body [class*="ymaps-2"][class*="-searchbox__button-cell"] {
        position: absolute;
        top: 60px;
        right: 0;
    }
    [class*="ymaps-2"][class*="-zoom"] {
        display: none !important;
    }
    body [class*="ymaps-2"][class*="-controls__toolbar"] {
        max-width: 95% !important;
    }
    button.bt-map {
        left: 10px;
    }
}
