doctype html  
html(lang='ru')  
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Black Star Burger
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel='stylesheet' href='/css/map.css')
    link(rel='stylesheet' href='/css/main.less')
  body
    #header.header
      .menu-popup
        ul.menu-popup__list.list.menu--no-active
          li.list__item
            a.link(href="#partnership") Адрес ресторанов
          li.list__item
            a.link(href="#products") Продукция Сastrol
          li.list__item
            a.link(href="#conditions") Условия проведения
          li.list__item
            a.link(href="#faq") Вопросы и ответы
          li.list__item
            a.link(href="#feedback") Обратная связь
      .container
        .navigation
          .menu
            //- .row
              .col-xs-12.col-sm-9.col-md-9.col-lg-7.col-lg-offset-3
            ul.menu__list.list.d-flex.justify-content-center.menu--active
              li.menu__item
                a.link(href="#partnership") Адрес ресторанов
              li.menu__item
                a.link(href="#products") Продукция Сastrol
              li.menu__item
                a.link(href="#conditions") Условия проведения
              li.menu__item
                a.link(href="#faq") Вопросы и ответы
              li.menu__item
                a.link(href="#feedback") Обратная связь
            .menu__burger.menu--no-active
              span
    #main-content.main-content
      .container
        .row
          .col-sm-12.main-bg
          .col-md-7.col-lg-7.text-center
            h1 Castrol дарит уникальный бургер
              br
              small Тройной мощщности
            p Срок регистрации чека с 1 октября по 30 ноября 2019
            p Срок получения бургера с 1 октября по 3 декабря 2019
    #actions.actions
      .container
        .row.d-flex.justify-content-center
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.d-flex.justify-content-center
            img(src="/img/item1.svg")
            .item-wrapper
              h2 Покупай
              p Castrol Edge 4L или
              p Castrol MAGNATEC 4L
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.d-flex.justify-content-center
            img(src="/img/item2.svg")
            .item-wrapper
              h2 Регистрируй
              p чек в приложении
              p Black Star Burger
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.d-flex.justify-content-center
            img(src="/img/item3.svg")
            .item-wrapper
              h2 Получай
              p бургер в
              p Black Star Burger
    #download.download
      .container
        h2 Скачай приложение
        .download__items
          a(href="#")
            img(src="/img/app-store.svg")
          #qr-code
          a(href="#")          
            img(src="/img/google-play-badge.svg")
    #partnership.partnership
      .container
        h2 Рестораны Black Star Burger, участвующие в акции
        select#dropdown.form-control
          option.city-active(data-location="moscow") Москва
          option(data-location="spb") Санкт-Петербург
          option(data-location="nn") Нижний Новгород
          option(data-location="ufa") Уфа
          option(data-location="grozniy") Грозный
          option(data-location="voronezh") Воронеж
          option(data-location="rnd") Ростов-на-Дону
          option(data-location="novosib") Новосибирск
          option(data-location="ekb") Екатеринбург
          option(data-location="krasnodar") Краснодар
          option(data-location="krasnogorsk") Красногорск
          option(data-location="mytishchi") Мытищи
          option(data-location="balashiha") Балашиха
          option(data-location="stavropol") Ставрополь
          option(data-location="kaliningrad") Калининград
          option(data-location="penza") Пенза
          option(data-location="sochi") Сочи
          option(data-location="yakutsk") Якутск
          option(data-location="tyumen") Тюмень
          option(data-location="chelyabinsk") Челябинск
          option(data-location="vladikavkaz") Владикавказ
          option(data-location="surgut") Сургут
          option(data-location="ulyanovsk") Ульяновск
          option(data-location="nizhnevartovsk") Нижневартовск
          option(data-location="gelendzhik") Геленджик
          option(data-location="blagoveschensk") Благовещенск
        .map-wrapper
          .control-panel
            ul.list-of-cities
              li.city-active(data-location="moscow")
                a(href="#") Москва
              li(data-location="spb")
                a(href="#") Санкт-Петербург
              li(data-location="nn")
                a(href="#") Нижний Новгород
              li(data-location="ufa")
                a(href="#") Уфа
              li(data-location="grozniy")
                a(href="#") Грозный
              li(data-location="voronezh")
                a(href="#") Воронеж
              li(data-location="rnd")
                a(href="#") Ростов-на-Дону
              li(data-location="novosib")
                a(href="#") Новосибирск
              li(data-location="ekb")
                a(href="#") Екатеринбург
              li(data-location="krasnodar")
                a(href="#") Краснодар
              li(data-location="krasnogorsk")
                a(href="#") Красногорск
              li(data-location="mytishchi")
                a(href="#") Мытищи
              li(data-location="balashiha")
                a(href="#") Балашиха
              li(data-location="stavropol")
                a(href="#") Ставрополь
              li(data-location="kaliningrad")
                a(href="#") Калининград
              li(data-location="penza")
                a(href="#") Пенза
              li(data-location="sochi")
                a(href="#") Сочи
              li(data-location="yakutsk")
                a(href="#") Якутск
              li(data-location="tyumen")
                a(href="#") Тюмень
              li(data-location="chelyabinsk")
                a(href="#") Челябинск
              li(data-location="vladikavkaz")
                a(href="#") Владикавказ
              li(data-location="surgut")
                a(href="#") Сургут
              li(data-location="ulyanovsk")
                a(href="#") Ульяновск
              li(data-location="nizhnevartovsk")
                a(href="#") Нижневартовск
              li(data-location="gelendzhik")
                a(href="#") Геленджик
              li(data-location="blagoveschensk")
                a(href="#") Благовещенск
          #map
    #conditions.conditions
      .container
        h2 Условия проведения
        .row
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")               
              span Полные условия и правила            
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")
              span Где купить масло Castrol
    #products.products
      .container
        h2 Продукция Castrol, участвующая в акции
        p EDGE
        .slider.js-slider
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil.png", alt="oil")
        p Magnatec        
        .slider.js-slider
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
          .slider__elem.elem
            img(src="/img/oil-green.png", alt="oil")
    #faq.faq
      .container
        .row
          .col-lg-10.col-lg-offset-1
            h2 Вопросы и ответы
            #accordion.panel-group(role="tablist" aria-multiselectable="true")
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1")
                #heading1.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse1.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading1")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
                #heading2.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading2")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
                #heading3.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading3")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                #heading4.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse4.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading4")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                #heading5.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse5.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading5")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
    #feedback.feedback
      .container
        form
          h2 Обратная связь
          .row
            .col-sm-6.col-md-6.col-lg-6
              .form-group.position-relative
                input#nameInput.form-control(type="text" autocomplete="off" required)
                label.floating-label(for="nameInput") Имя и фамилия
            .col-sm-6.col-md-6.col-lg-6
              .form-group.position-relative
                input#emailInput.form-control(type="text" autocomplete="off" required)
                label.floating-label(for="emailInput") Email
          .form-group.position-relative
            input#themeMessageSelect.form-control(type="text" autocomplete="off" required)
            label.floating-label(for="themeMessageSelect") Тема сообщения
          .form-group.position-relative
            textarea#messageInput.form-control(rows="3" type="text" autocomplete="off" required)
            label.floating-label(for="messageInput") Сообщение
          .form-group
            .row
              .col-xs-12.col-sm-7.col-md-5.col-lg-5
                .checkbox
                  input#checkbox(type='checkbox')
                  label(for="checkbox") Согласие на обработку персональных данных
              .col-xs-12.col-sm-5.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button#submit.btn.btn-primary(type='submit' disabled) Отправить
        .success.no-active
          img(src="/img/like.svg", alt="success")
          h2 Ваш запрос принят!
    #footer.footer
      .container
        .row
          .col-xs-12.col-lg-6
            ul.nav.navbar-nav
              li
                a(href="#") Полные условия и правила
              li
                a(href="#") Где купить масло Castrol
          .col-xs-12.col-lg-6.d-flex.justify-content-end.align-items-center
            a.margin-right-10(href="#")
              img(src="/img/app-store.svg", alt="App Store")
            a(href="#")
              img(src="/img/google-play-badge.svg", alt="Google Play")
        p.copyright &copy; 2019. Все права защищены


    script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/jquery-qrcode-master/jquery.qrcode.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./index.js")
    script(src="./js/map.js")